---
name: Build and push dev image

on:
  pull_request:
    types: [labeled]
    paths:
      - 'docker/**'
      - 'version.json'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  dev-build:
    if: contains(github.event.label.name, 'Dev')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: standard
            dockerfile: docker/Dockerfile
            platforms: linux/amd64,linux/arm/v7,linux/arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./docker/
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            deconzcommunity/deconz:dev
            ghcr.io/${{ github.repository }}:dev
          labels: |
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.revision=${{ github.sha }}
            development-build=true
